<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Estoque</title>
    <link rel="stylesheet" href="css/localDashboard.css">
    <link rel="stylesheet" href="css/sidebar.css" />
    <link rel="stylesheet" href="css/pagination.css" />
</head>
<body>
    <div class="container">
        <header>
            <h1>Gerenciamento de Locais de Estoque</h1>
        </header>

        <button class="menu-toggle" onclick="toggleSidebar()">☰</button>
        <div th:replace="fragments/sidebar :: sidebar"></div>

        <div class="supplierContent">
            <section class="card-table">
                <div class="card-header">
                    <h2>Locais Cadastrados</h2>
                    <div class="actions-header">
                        <input type="text" id="searchInput" placeholder="Buscar por setor ou pacote...">
                        <button type="button" id="refreshButton">Atualizar</button>
                    </div>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Setor</th>
                            <th>Pacote/Referência</th>
                            <th>Posição</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody id="stockTableBody">
                        </tbody>
                </table>
                <div th:replace="fragments/pagination :: pagination"></div>
            </section>

            <section class="card-form">
                <h2>Novo Local de Estoque</h2>
                <form id="stockForm">
                    <label for="sector">Setor:</label>
                    <input type="text" id="sector" name="sector" required placeholder="Ex: Corredor A">

                    <label for="package">Pacote/Referência:</label>
                    <input type="text" id="package" name="package" required placeholder="Ex: PKG-202">

                    <label for="position">Posição:</label>
                    <input type="number" id="position" name="position" required>

                    <button type="submit">Cadastrar Local</button>
                </form>
            </section>
        </div>
    </div>

    <script src="js/sidebar.js"></script>
    <script type="module" src="js/localDashboard.js"></script>
</body>
</html>