<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Gerenciamento de Usuários</title>
  <link rel="stylesheet" href="css/userDashboard.css" />
  <link rel="stylesheet" href="css/sidebar.css" />
</head>
<body>
  <div class="container">
    <header>
      <h1>Gerenciamento de Usuários</h1>
      <p>Painel administrativo</p>
    </header>

    <button class="menu-toggle" onclick="toggleSidebar()">☰</button>

    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="content">
      <!-- Lista de usuários -->
      <section class="card">
        <div class="card-header">
          <h2>Usuários Cadastrados</h2>
          <button id="refreshUsersBtn">Atualizar lista</button>
        </div>

        <table>
          <thead>
            <tr>
              <th>Id</th>
              <th>Nome</th>
              <th>Cargo</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody id="userTableBody">
            <!-- usuários renderizados via JS -->
          </tbody>
        </table>

        <div class="pagination">
          <button id="prevPageBtn">⬅️ Anterior</button>
          <span id="pageInfo">Página 1</span>
          <button id="nextPageBtn">Próxima ➡️</button>
        </div>
      </section>

      <!-- Formulário -->
      <section class="cardForm">
        <h2>Novo Usuário</h2>
        <form id="userForm">
          <label>
            Nome
            <input type="text" id="name"  />
          </label>

          <label>
            Senha
            <input type="password" id="password" />
          </label>

          <label>
            Cargo
            <select id="role" >
              <option value="">Selecione</option>
              <option value="ROLE_ADMIN">ROLE_ADMIN</option>
              <option value="ROLE_USER">ROLE_USER</option>
            </select>
          </label>

          <button type="submit">Cadastrar Usuário</button>
        </form>
      </section>
    </div>
  </div>

  <script type="module" src="js/script.js"></script>
  <script type="module" src="js/userDashboard.js"></script>
  <script src="js/sidebar.js"></script>
</body>
</html>
