<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>

<aside th:fragment="sidebar" id="sidebar" class="sidebar">
    <div class="sidebar-header">
        <h2>Menu</h2>
    </div>

    <nav class="sidebar-menu">
        <a th:href="@{/telaInicial}">Tela Inicial</a>
        <a th:href="@{/localDashboard}">Locais</a>
        <a th:href="@{/productDashboard}">📦 Produtos</a>
        <a th:href="@{/rawMaterialDashboard}">🧪 Matérias-Primas</a>
        <a th:href="@{/supplierDashboard}">🏭 Fornecedores</a>
        <a th:href="@{/userDashboard}" sec:authorize="hasRole('ADMIN')">
            👤 Usuarios
        </a>
    </nav>
</aside>

</body>
</html>
